<div class="flex flex-row print:!hidden" x-data="{ activeTab: '{{active_tab}}', user: {{session['user']}} }">
    <div class="text-xl w-3/4" :class="{ 'flex content-center justify-center flex-col w-full text-center': user.Role !== 'Manager' }">
        
        <span x-text="activeTab === 'categories' ? 'Our categories' : 'Our products'"></span>
        
        <template x-if="activeTab === 'goods_in_store' && user.Role !== 'Manager'">
            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                At 'Zlagoda', we take immense pride in offering the finest selection 
                of products on the market, ensuring that every item on our shelves represents 
                the pinnacle of quality and freshness. Our partnerships with local farmers and 
                producers mean that our produce, meats, and dairy are delivered to our stores 
                with astonishing speed, keeping them as fresh as the day they were harvested 
                or made. We guarantee the longevity of our fresh goods without the use of 
                chemicals, relying instead on natural preservation methods and innovative, 
                eco-friendly technologies. Shop with us and experience the difference of 
                truly premium products that set new standards for taste and health.
            </p>
        </template>
        <template x-if="activeTab === 'goods_in_store' && user.Role === 'Manager'">
            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                At our supermarket, we proudly offer the highest quality products on the market,
                sourced directly from local farms and artisans. Our rapid delivery system ensures 
                that all items remain fresh and vibrant, reaching our shelves faster than ever—with 
                no chemical preservatives. Experience the freshness and exceptional taste of our 
                naturally preserved goods when you shop with us.
            </p>
        </template>
        <template x-if="activeTab === 'goods' && user.Role !== 'Manager'">
            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                This is the supermarket, where we're dedicated to bringing you top-quality products
                at unbeatable prices. Each item on our shelves is carefully selected to ensure 
                excellence, whether it's fresh produce, gourmet cheeses, or pantry staples. 
                We leverage strong relationships with suppliers to keep our costs low, 
                passing the savings directly to you. Shop with us and discover the perfect 
                blend of quality and affordability that only we can offer.
            </p>
        </template>
        <template x-if="activeTab === 'goods' && user.Role === 'Manager'">
            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                Our supermarket offers a wide range of products. Explore our selection, 
                where the finest goods are curated with care, ensuring that every choice 
                is a step towards unparalleled culinary experiences. Discover the difference 
                with us, where quality isn't just a promise—it's our guarantee.
            </p>
        </template>
        <template x-if="activeTab === 'categories'">
            <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                The variety and fullness of our categories cater to every taste and need. 
                From organic fruits and vegetables to artisanal cheeses, from gluten-free 
                products to international delicacies, our range is meticulously curated to 
                cater to every palate and dietary requirement.
            </p>
        </template>

        <div class="flex flex-row py-5 bg-white dark:bg-gray-800 gap-5" :class="{ 'justify-center': user.Role !== 'Manager' }">
            {% if (active_tab == 'categories')%}
                {% include 'components/_default_search_input.html' %}
            {% else %}
                {% include 'components/_search_input_with_filter.html' %}
            {% endif %}
            {% include 'components/_print_button.html' %}
        </div>
    </div>
    <div x-show="tableState != GlobalStates.SELECTING && user.Role === 'Manager'" class="w-1/4 flex flex-col gap-y-5 justify-center items-center">
            <button
                :id="activeTab === 'categories' ? 'addCategory' : 'addProduct'"
                @click="createRowForm()"
                :disabled="tableState != GlobalStates.NONE"
                class="text-white w-3/4 h-1/3 min-h-16 bg-cyan-600 hover:bg-sky-600 
                focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm 
                px-5 py-2.5 me-2 dark:bg-cyan-800 dark:hover:bg-cyan-900 
                focus:outline-none dark:focus:ring-cyan-950 disabled:opacity-50 disabled:cursor-not-allowed"
            >
                <span x-text="activeTab === 'categories' ? 'Add category' : 'Add product'"></span>
            </button>

            <button 
                :id="activeTab === 'categories' ? 'removeCategory' : 'removeProduct'"
                @click="$store.tableState.startSelecting()"
                :disabled="tableState != GlobalStates.NONE"
                class=" w-3/4 h-1/3 min-h-16 py-2.5 px-5 me-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
                border-gray-200 hover:bg-gray-100 hover:text-cyan-700 focus:z-10 focus:ring-4 focus:ring-gray-100 
                dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700 disabled:opacity-50 disabled:cursor-not-allowed"
            >

                <span x-text="activeTab === 'categories' ? 'Remove category' : 'Remove product'"></span>

            </button>
        </div>
        <div x-cloak x-show="tableState === GlobalStates.SELECTING" class="w-1/4 flex flex-col justify-center items-center">
              <button 
                @click="$store.tableState.deleteSelected()"
                class="w-3/4 h-1/3 py-2.5 px-5 me-2 inline-flex items-center justify-center
                bg-red-600 hover:bg-red-700 text-white text-sm font-medium
                focus:outline-none rounded-lg border
                border-red-400 focus:z-10 focus:ring-4 focus:ring-red-200
                dark:focus:ring-red-700 dark:bg-red-800 dark:text-white dark:border-red-800
                dark:hover:bg-red-700"
              >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
            
                Delete
            </button>

            <button 
                @click="$store.tableState.stopSelecting()"
                class=" w-3/4 h-1/3 py-2.5 px-5 me-2 inline-flex items-center justify-center text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
                border-gray-200 hover:bg-gray-100 hover:text-cyan-700 focus:z-10 focus:ring-4 focus:ring-gray-100 
                dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                </svg>
          
                Cancel
            </button>
        </div>
</div>  

