<nav x-data="navbar({{session['user']}})" class="sticky top-0 z-50 border-gray-200 bg-gray-100 dark:bg-gray-600 transition-transform duration-300">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto p-4">
    <div class="flex items-center gap-20">
      <a href="{{ url_for('main.home') }}" class="flex items-center space-x-5 rtl:space-x-reverse">
          <img src="https://i.ibb.co/F6MdYJp/zlagoda-logo.png" class="h-20" alt="Logo" />
          <!-- <span class="self-center text-5xl font-semibold whitespace-nowrap dark:text-white">Zlagoda</span> -->
      </a>
      <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-solid-bg" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="flex flex-row">
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul class="flex flex-col text-2xl font-medium mt-4 rounded-lg bg-gray-50 md:space-x-12 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
            <li>
              <a href="{{ url_for('main.home') }}" class="block py-2 px-3 md:p-0 text-gray-900 rounded
              hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 dark:text-white
                md:dark:hover:text-cyan-600 dark:hover:bg-gray-700  md:dark:hover:bg-transparent"
                aria-current="page">
                Home
              </a>
            </li>
            <li x-cloak x-show="signedIn">
              <a href="{{ url_for('goods_and_categories.goods_in_store') }}" 
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100
              md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 dark:text-white md:dark:hover:text-cyan-600
              dark:hover:bg-gray-700  md:dark:hover:bg-transparent">
                Goods & Categories
              </a>
            </li>
            <li x-cloak x-show="signedIn">
              <a href="{{ url_for('staff_and_clients.workers') }}" 
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 
              md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 dark:text-white
              md:dark:hover:text-cyan-600 dark:hover:bg-gray-700  
              md:dark:hover:bg-transparent">
                Staff & Clients
              </a>
            </li>
            <li x-cloak x-show="signedIn">
              <a href="{{ url_for('receipts.checks') }}" 
              class="block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 
              md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 dark:text-white
              md:dark:hover:text-cyan-600 dark:hover:bg-gray-700  
              md:dark:hover:bg-transparent">
                Receipts
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex">
        <div class="hidden w-full md:block md:w-auto" id="navbar-solid-bg">
          <ul class="items-center flex flex-col text-2xl font-medium mt-4 rounded-lg bg-gray-50 md:space-x-12 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent dark:bg-gray-800 md:dark:bg-transparent dark:border-gray-700">
            <li x-cloak x-show="!signedIn">
              <a href="{{ url_for('main.login') }}" class="block py-2 px-3 ml-12 md:p-0 text-gray-900 rounded hover:bg-gray-100
              md:hover:bg-transparent md:border-0 md:hover:text-cyan-600 dark:text-white
              md:dark:hover:text-cyan-600 dark:hover:bg-gray-700  
              md:dark:hover:bg-transparent">
                Log in 
              </a>
            </li>

            <button type="button" x-cloak x-show="signedIn" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-400" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
              <span class="sr-only">Open user menu</span>
              <img class="w-10 h-10 rounded-full" src="https://i.ibb.co/f93t1mB/user.png" alt="person image"/>
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
              <div class="px-4 py-3">
                <span x-text="userFullName" class="block text-sm text-gray-900 dark:text-white"></span>
                <span x-text="'Role: '+ userRole " class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
              </div>
              <ul class="py-2" aria-labelledby="user-menu-button">
                <li>
                  <a href="javascript:void(0);" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                </li>
                <li>
                  <a href="javascript:void(0);" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                </li>
                <li>
                  <a href="javascript:void(0);" @click="logOut()" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Log out</a>
                </li>
              </ul>
            </div>

            <li>
              <div>
                {% include 'components/_theme_switch.html' %}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.querySelector("nav");
    let lastScrollY = window.pageYOffset;
    const scrollThreshold = 20; 

    window.addEventListener("scroll", () => {
      const currentScrollY = window.pageYOffset;

      if (Math.abs(lastScrollY - currentScrollY) <= scrollThreshold) {
        return;
      }

      if (lastScrollY < currentScrollY) {
        navbar.classList.add("translate-y-[-100%]"); 
        navbar.classList.remove("translate-y-0");
      } else {
        navbar.classList.add("translate-y-0"); 
        navbar.classList.remove("translate-y-[-100%]");
      }

      lastScrollY = currentScrollY;
    });
  });
</script>

