<div class="w-full max-w-lg">
    <div class="rounded-lg shadow-lg p-12 text-xs sm:mx-0 bg-white dark:bg-gray-700 border-gray-800 border">
      <div>
        <div class="flex flex-col">

            <h1 class="text-gray-800 dark:text-white text-xl font-medium mb-2 flex flex-wrap items-center justify-between">
                <span>
                    Receipt
                </span>
                <span>
                    #123456789
                </span>
            </h1>

          <p class="text-gray-600 dark:text-gray-200 text-xs">Date: 05.03.22</p>
          <p class="text-gray-600 dark:text-gray-200 text-xs">Order Number: 0000000001</p>
        </div>
        <hr class="my-4">
        <div class="dark:text-gray-200">
          <div class="flex justify-between items-center">
            <span class="font-medium text-base">House Blend</span><span class="text-base font-medium">$15.00</span>
          </div>
          <div class="mb-4 flex justify-between items-center">
            <span>*Quantity:</span><span class="">1</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="font-medium text-base">French Press</span><span class="text-base font-medium">$29.50</span>
          </div>
          <div class="mb-4 flex justify-between items-center">
            <span>*Quantity:</span><span class="">1</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="font-medium text-base">Stainless Steel Mugs</span><span
              class="text-base font-medium">$43.00</span>
          </div>
          <div class="flex justify-between items-center">
            <span>*Quantity:</span><span class="">2</span>
          </div>
          <hr class="my-4">
          <div class="flex justify-between items-center">
            <span>Shipping Costs:</span><span class="">$0.00</span>
          </div>
          <div class="mb-2 flex justify-between items-center">
            <span>Taxes & Fees</span><span class="">$8.36</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-lg font-medium">Total</span><span class="text-lg font-medium">$96.06</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  