<div class="w-full mt-5 text-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 print:hidden">
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">Select tab</label>
        <select id="tabs" class="bg-gray-50 border-0 border-b border-gray-200 text-gray-900 text-sm rounded-t-lg focus:ring-cyan-600 focus:border-cyan-700 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-cyan-500 dark:focus:border-cyan-500">
            <option>Receipts</option>
        </select>
    </div>
    <div class="flex flex-col my-4 mx-8">
        <div class="flex flex-row">
            <div class="text-xl w-3/4 dark:text-gray-300" :class="{ 'flex content-center justify-center flex-col w-full text-center': user.Role !== 'Cashier' }">
                Control system

                <template x-if="user.Role !== 'Cashier'">
                    <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                        At our supermarket, we proudly maintain a cutting-edge receipts 
                        database that ensures every transaction is accurately recorded and 
                        closely monitored. This state-of-the-art system exemplifies our 
                        dedication to precision and accountability, underpinning our 
                        commitment to transparency in all our operations. By implementing 
                        such meticulous data management practices, we set new standards in 
                        the retail industry, demonstrating operational excellence at every 
                        turn. Our approach not only builds trust with our customers but also 
                        enhances our overall efficiency, making us a leader in the marketplace.
                    </p>
                </template>
                <template x-if="user.Role === 'Cashier'">
                    <p class="mt-1 text-base font-normal text-gray-500 dark:text-gray-400" >
                        Our supermarket proudly maintains a cutting-edge receipts database, ensuring every transaction is accurately recorded and monitored.
                        This meticulous approach showcases our commitment to transparency and operational excellence, setting new standards in the retail industry.   
                    </p>
                </template>
                <div class="flex py-5 bg-white dark:bg-gray-800 justify-center gap-5">
                    {% include 'components/_default_search_input.html' %}
                    {% include 'components/_print_button.html' %}
                </div>
            </div>
            <div x-show="user.Role === 'Cashier'" class="w-1/4 flex flex-col justify-center items-center gap-y-4">
                <button class="text-white w-3/4 h-1/3 bg-cyan-600 hover:bg-sky-600 focus:ring-4 focus:ring-blue-300
                font-medium rounded-lg text-sm px-5 py-2.5 me-2 dark:bg-cyan-800 dark:hover:bg-cyan-900 focus:outline-none
                dark:focus:ring-cyan-950" data-modal-target="add-receipt-modal" data-modal-toggle="add-receipt-modal">
                    Add receipt
                </button>
                <button  class=" w-3/4 h-1/3 py-2.5 px-5 me-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border
                border-gray-200 hover:bg-gray-100 hover:text-cyan-700 focus:z-10 focus:ring-4 focus:ring-gray-100 
                dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white
                dark:hover:bg-gray-700">
                    Remove receipt
                </button>
            </div>
        </div>  
    </div>
</div>