
{% for receipt in receipts %}
<div class="w-full max-w-lg">
    <div class="rounded-lg shadow-lg p-12 text-xs sm:mx-0 bg-white border border-gray-200 dark:bg-custom-gradient dark:border-gray-700">
      <div>
        <div class="flex flex-col">

            <h1 class="text-gray-800 dark:text-white text-xl font-medium mb-2 flex flex-wrap items-center justify-between">
                <span>
                    Receipt
                </span>
                <span>
                    #123456789
                </span>
            </h1>

          <p class="text-gray-600 dark:text-gray-200 text-xs">Date: 30.03.24</p>
          <p class="text-gray-600 dark:text-gray-200 text-xs">Order Number: 0000000001</p>
        </div>
        <hr class="mt-4">
        <div class="dark:text-gray-200">
          <ul class="h-52 pr-1.5 overflow-y-scroll custom-scrollbar space-y-3 my-4">
            {% for i in range(5) %}
            <li>
              <div class="flex justify-between items-center">
                <span class="font-medium text-base">Potatoes</span>
                <span class="text-base font-medium">$2.69</span>
              </div>
              <div class="flex justify-between items-center">
                <span>*Quantity:</span>
                <span>2 kg</span>
              </div>
            </li>
            {% endfor %}
          </ul>
          
          <hr class="mb-4">

          <div class="flex justify-between items-center">
            <span>Promotion reduction:</span><span class="">-$0.00</span>
          </div>
          <div class="mb-2 flex justify-between items-center">
            <span>Taxes & Fees</span><span class="">$0.36</span>
          </div>
          <div class="flex justify-between items-center">
            <span class="text-lg font-medium">Total</span><span class="text-lg font-medium">$12.95</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}