<div x-data="{ user : {{session['user']}} }" id="show-profile-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Your profile
                </h3>
                <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="show-profile-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="p-4 md:p-5">
                    <div class="grid gap-4 mb-4 grid-cols-2">
                        <div class="flex flex-col col-span-1 gap-y-4">
                            <div>
                                <label for="name" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Name / Patronymic / Surname</label>
                                <p name="name" x-text="user.Name + ' ' + user.Patronymic + ' ' + user.Surname" class="block mb-2 text-xl font-bold text-gray-900 dark:text-white"></p>
                            </div>
                            <div>
                                <div class="flex mb-2 text-lg gap-x-3 font-medium text-gray-700 dark:text-gray-300"><span>ID:</span> <span x-text="user.ID" class="font-bold text-gray-700 dark:text-white"></span></div>
                                <div class="flex mb-2 text-lg gap-x-3 font-medium text-gray-700 dark:text-gray-300"><span>Position:</span> <span x-text="user.Role" class="font-bold text-gray-700 dark:text-white"></span></div>
                                <div class="flex mb-2 text-lg gap-x-3 font-medium text-gray-700 dark:text-gray-300"><span>Salary:</span> <span x-text="user.Salary" class="font-bold text-gray-700 dark:text-white"></span></div>
                            </div>
                        </div>
                        <div class="flex col-span-1 m-10 mt-3">
                            <img class="w-full h-full rounded-full" src="https://i.ibb.co/f93t1mB/user.png" alt="person image"/>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="phone" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Phone:</label>
                            <p name="phone" x-text="user.Phone_Number" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white"></p>
                        </div>
                        <div class="col-span-2 sm:col-span-1">
                            <label for="address" class="block mb-2 text-sm font-medium text-gray-700 dark:text-gray-300">Address: </label>
                            <p name="address" x-text="user.City + ' ' + user.Street + ' ' + user.Zip" class="block mb-2 text-lg font-medium text-gray-900 dark:text-white"></p>
                        </div>
                        <div class="col-span-2">
                            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Profile Description</label>
                            <textarea id="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your profile description here"></textarea>                    
                        </div>
                    </div>
                    <button class="text-white inline-flex items-center bg-cyan-600 hover:bg-cyan-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-cyan-600 dark:hover:bg-cyan-700 dark:focus:ring-blue-800">
                        <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        Add description
                    </button>
            </div>
        </div>
    </div>
</div> 