
<div class="relative" x-data="sortingDropdown('{{ active_tab }}', fields)">
    <button x-ref="dropdownButton" @click="toggleDropdown" 
    class="flex-shrink-0 w-max z-10 inline-flex items-center py-2.5 
    px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 
    border border-gray-300 rounded-lg hover:bg-gray-200 
    focus:ring-4 focus:outline-none focus:ring-gray-100 
    dark:bg-gray-700 dark:hover:bg-gray-600 dark:focus:ring-gray-700 
    dark:text-white dark:border-gray-600" type="button">
        <span x-text="mapper"></span>
        <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
    </button>
    <div x-show="showDropdown" @click.away="showDropdown = false" class="z-10 absolute mt-1 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
            <template x-for="option in options" :key="Object.keys(option)[0]">
                <li>
                    <button type="button" @click="selectOption(option)" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" x-text="Object.keys(option)[0]"></button>
                </li>
            </template>
        </ul>
    </div>
</div>
    