{% extends "layout.html" %}

{% block title %}Staff and clients{% endblock %}

{% block content %}
<div class="flex flex-col" x-data="{ activeTab: '{{active_tab}}' }">
    
    <div class="flex flex-col w-full pt-5 pb-8 items-center justify-center">
        <div class="fixed inset-x-6 top-[-5rem] -z-10 transform-gpu overflow-hidden blur-3xl " aria-hidden="true">
        <div class="relative left-1/6 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-purple-400 via-[#2bb3d3] to-[#0aaa9d] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem] bg-[length:300%_auto] animate-blobs" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>

        <div x-data="cardsInteractions('{{active_tab}}', {{people}}, {{columns_json}}, '{{key_column}}')" class="w-4/5 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-center">
            <div class="col-span-full">
                {% include 'components/_workers_topbar.html' %}
            </div>        


            <template x-for="card in $store.workersState.people" :key="card[key_column]">
                <div class="w-full bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <div class="flex justify-end px-4 pt-4">
                        <!-- Dropdown button -->
                        <div class="relative">
                            <button @click="card.showDropdown = !card.showDropdown" 
                                    class="inline-block text-gray-500 dark:text-gray-400 
                                    hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 
                                    focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 
                                    rounded-lg text-sm p-1.5" 
                                    type="button">
                                <span class="sr-only">Open dropdown</span>
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 16 3">
                                    <path d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z"/>
                                </svg>
                            </button>
                            <!-- Dropdown menu -->
                            <div x-show="card.showDropdown" @click.away="card.showDropdown = false" class="absolute mt-2 z-10 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                                <ul class="py-2">
                                    <li><a href="javascript:void(0);" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a></li>
                                    <li><a href="javascript:void(0);" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export Data</a></li>
                                    <li><a href="javascript:void(0);" @click="$store.workersState.deleteCard(card[key_column])" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Person details -->
                    <div class="flex flex-col items-center px-10 pb-10">
                        <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="https://i.ibb.co/f93t1mB/user.png" alt="person image"/>
                        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white" x-text="`${card.Name} ${card.Patronymic} ${card.Surname}`"></h5>
                        <template x-for="[key, value] in Object.entries(card)" :key="key">
                            <div x-show="!['Name', 'Surname', 'Patronymic', 'editing', 'showDropdown'].includes(key)" class="flex items-center w-full my-0.5 text-base text-gray-500 dark:text-gray-400">
                                <span class="font-bold dark:text-gray-300" x-text="key + ':'"></span>
                                <span class="mx-2 flex-1 dotted-line"></span>
                                <span x-text="value"></span>
                            </div>
                        </template>
                    </div>
                </div>
            </template>
            
            

                <!-- {% include 'components/_worker_card.html' %} -->
        </div>

        <div class="fixed inset-x-0 bottom-0 -z-10 transform-gpu overflow-hidden blur-3xl " aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-purple-400 via-[#2bb3d3] to-[#0aaa9d] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem] bg-[length:300%_auto] animate-blobs" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
    </div>

</div>
{% endblock %}
