<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/dist/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title>{% block title %}Default Title{% endblock %}</title>

    <style>
        [x-cloak] { display: none !important; }
    </style>

    <script>
        if (
            localStorage.getItem('color-theme') === 'dark' ||
            (!('color-theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark');
        }
    </script>
    
</head>

<body class="dark:bg-gray-800 -z-20 custom-scrollbar print:bg-white">
        {% include 'components/_header.html' %}

        <ul class="notifications z-50"></ul>
        {% block content %}

        {% endblock %}

        {% include 'components/_change_password_modal.html' %}
        {% include 'components/_show_profile_modal.html' %}
        
        {% block scripts %}
        
        {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/toastNotifications.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/textScramble.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/sendRequest.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/request1.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/loginHandler.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dropdownSearch.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dropdownGoodsSearch.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dropdownCustomerSearch.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/createRow.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/createCard.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tableInteractions.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/cardsInteractions.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/receiptsInteractions.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/homePage.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/userStore.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/tableState.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/workersState.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/receiptsState.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/sortingDropdown.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/searchWithFilter.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/defaultSearch.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/changePassword.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/addReceipt.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/numberSpinner.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/dateSearchWithFilters.js') }}"></script>

    
    
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.5/dist/cdn.min.js"></script>

</body>

</html>